body{
  background-color: rgb(245, 248, 255);
  max-width: 1440px;
}
nav {
  display: flex;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;
  /* justify-content: center; */
}

.open-sans-logo-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 34px;
  margin: 50px;
  color: #4e47ff;
}
.buttton {
  color: #ffffff;
  background-color: #4e47ff;
  padding: 0px;
  width: 132px;
  height: 48px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 50px;
}

.open-sans-Sign-up {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  
}
.header-style{
  background-image: url(../Assets/Hero-bg.png);
  max-width: 1440px;
}
.justify-middle{
  display: flex;
  justify-content: center;
}
.statusbar{
  margin-left: 267.5px;
  margin-right: 267.5px;
  font-weight: bold;
  text-align: center;
}
.middle-function{
  margin-left: 141px;
  margin-right: 159px;
  display: flex;
  gap: 220px;
  margin-top: 116px;
  max-width: 1140px;
}
.first-action{
  margin-top: 62.5px;
  margin-bottom: 62.5px;
  /* max-width: 517px; */
}
.image-css{
  border-radius: 48px;
}
.action-title{
  font-size: 42px;
  max-width: 517px;
  font-size: 42px;
}
.header-com{
  max-width: 905px;
  max-height: 237px;
  align-items: center;
  margin-left: 267px;
  margin-right: 267px;
}
.buttton-live-preview {
  color: #ffffff;
  background-color: #4e47ff;
  padding: 0px;
  width: 229px;
  height: 48px;
  justify-content: center;
  
  border: none;
  border-radius: 8px;
  cursor: pointer;
  
}
.action-description{
  font-size: 24px;
  color: rgb(140, 142, 152);
}
.production-users{
  max-width: 1140px;
}
.production-users{
  background-color: rgb(229, 231, 255);
  border-radius: 24px;
  margin-left: 141px;
  margin-right: 159px;
  text-align: center;
  
}
.classes{
  display: flex;
  justify-content: space-around;
}
.thambnail-name{
  font-size: 38px;
  color: rgba(37, 36, 50, 1);
}
.users-info{
  font-size: 80px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin: 0px;
  color: rgba(78, 71, 255, 1);
}
.user-description{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  margin: 50px;
}
.rev-info{
  display: flex;
  align-items: center;
}
.ledis{
  height: 40px;
  width: 40px;
  border-radius: 9999px;
}
.users-talk{
  margin-top: 137px;
  margin-left: 151px;
  margin-right: 151px;
  
}
.users-thambnail{
  font-size: 42px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-align: center;
  
}
.stars{
  height: 20px;
  width: 20px;
}
.loved{
  font-size: 21px;
  font-weight: bold;
}
.tempo{
   font-size: 15px;
   max-width: 250px;
}
.rev-name{
  font-size: 18px;
  font-weight: bold;
  color: rgba(117, 117, 117, 1);
  margin-bottom: 0px;
}
.rev-date{
  font-size: 18px;
  color: rgba(179, 179, 179, 1);
  margin-top: 0px;
}
.u-classes{
  display: flex;
  gap: 20px;
  padding: 24px;
  /* align-items: center; */
  justify-content: center;
}
.u-class{
  max-width: 366px;
  box-shadow: 20px 20px 20px rgba(242, 237, 237, 1);
}
.focusing{
  max-width: 1140px;
  margin-left: 151px;
  margin-right: 151px;
  margin-top: 137px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}
.focus-better{
  font-size: 50px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-align: center;
}
.focus-temp{
  text-align: center;
  color: rgb(127, 127, 127);
}
.started-button{
  align-items: center;
}
.focus-img{
  width: 840px;
  height: 364px;
  border-radius: 48px;
}
.form{
  display: flex;
  justify-content: space-between;
  margin-top: 92px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 14px;
 max-width: 1140px;
}
.touch-font{
  font-size: 97px;
  font-weight: bold;
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  
}
.touch-des{
  /* height: 232px;
  width: 528px; */
  margin-top: 200px;
  margin-bottom: 200px;
  margin-right: 115px;
}
.form-add{
  height: 490px;
  width: 497px;
  margin-top: 71px;
}
.form{
  margin-top: 92px;
  margin-left: 150px;
  margin-right: 150px;
}
input[type="text"],input[type="email"],textarea{
  height: 70px;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}
.last-button{
  color: #ffffff;
  background-color: #4e47ff;
  padding: 0px;
  width: 540px;
  height: 62px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 50px;
  font-size: 16px;
  margin-left: 0px;
  /* margin-right: 0px; */
}